*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
th{
    font-size: 18px;
    font-family: Karla !important;
}
h4{
    text-align:left;    
}
h1{
    font-family: Karla !important;
    
}
.headline{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
text-align: right;
width: 500px !important;
}
:root{
    --table-bg:white
}
body{
    font-family:Montserrat ;
    background-color: #e8e8e8;
    
}
.table1{
    background-color: var(--table-bg);
    margin-top: 10px;
}
.top-bg{
    background-color: #DB5F12;
    
    display: flex;
    margin-bottom: 10px;
    color: white;
    
}
td{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    border-right-style: dashed !important;
    border-right-color: rgba(0, 0, 0, 0.1);
}
.topImg{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.topDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topDetails p{
    font-size: 18px;
}
.leaderboard{
    border-radius: 25px;
}
.topSeller{
    background:  #423629;;
    color: white;
    margin-top:10px ;
}
.topDetails p{
    font-size: 32px ;
}
.bookings{
    text-align: center !important;
}
.Heading{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Heading P{
    font-size: 50px !important;
    font-family: Karla !important;
}